/* SECCIONES */
section {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

/* * SECCION 1: BIENVENIDO * */
#seccion1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.c-bienvenida {
  width: 70%;
  padding-left: 20px;
  margin-top: -50px;
}

.b-info .saludo {
  letter-spacing: 0.2rem;
}
.b-info .nombre {
  font-size: 3rem;
  margin-top: 5px;
  margin-bottom: 0;
}
.b-info .sub-titulo {
  margin-top: -5px;
  margin-bottom: 10px;
  font-size: 3rem;
}
.b-info .introduccion {
  text-align: justify;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.b-contacto {
  font-size: 2rem;
}

/* * SECCION 2: ABOUT ME * */

#seccion2 {
  display: grid;
  grid-template-rows: auto 1fr;
}
.c-about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  padding: 20px;
  min-height: 100%;
}
.c-about > .info {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.c-about > .foto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-about .lista-habilidades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 20px;
}

.c-about > .foto > img {
  padding: 20px;
  width: 250px;
  height: auto;
}

/* * SECCION 3: EXPERIENCIA * */
#seccion3 {
  display: grid;
  grid-template-rows: auto 1fr;
}

.c-experiencia {
  width: 70%;
  margin: 0 auto;
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
  padding: 20px;
}

input[name="jobs"] {
  display: none;
}
.label-job {
  cursor: pointer;
  padding: 10px;
}
.label-job:hover {
  background-color: var(--primary-color);
}

input[name="jobs"]:checked + .label-job {
  background-color: var(--primary-color);
}

.c-experiencia .nav-experiencia {
  display: flex;
  flex-direction: column;
}

.c-experiencia .job {
  display: none;
}

.job .desc-puesto p {
  margin-bottom: 0;
}
.job .desc-puesto p:nth-child(1) {
  font-weight: bold;
  font-size: 1.5rem;
}
.job .desc-puesto p:not(:nth-child(1)) {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.job .desc-tareas {
  margin-top: 10px;
}
.desc-tareas > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desc-tareas > ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  line-height: 1.6;
  color: #b0c7db;
}

.desc-tareas > ul li::before {
  content: "▸";
  position: absolute;
  left: 0;
  color: #4ee1a0;
  font-size: 1.2em;
}

.job .desc-tecnologias {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
}
.job .desc-tecnologias span {
  margin-inline: 5px;
  margin-bottom: 5px;
  background-color: gray;
  border-radius: 10px;
  padding-inline: 5px;
}

/* * SECCION 4: PROYECTOS * */
#seccion4 {
  display: grid;
  grid-template-rows: auto 1fr;
}

.proyectos {
  width: 80%;
  margin: 0 auto;
}

.p-principales {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
}

.p-principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "p-info p-img";
  border: 2px solid white;
  padding: 10px;
  margin-bottom: 20px;
}

.p-principal > .p-info {
  display: grid;
  grid-template-rows: auto 2fr 1fr;
}
.p-info > div {
  border: 1px solid black;
}

.p-info .header > h3 {
  font-size: 1.7rem;
  color: var(--accent-color);
}

.p-info > .descripcion {
  display: flex;
  align-items: center;
  padding: 10px;
}

.p-info > .descripcion > p {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  background-color: blue;
  font-size: 1.2rem;
}

.p-info > .tecnologias > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
}
.p-info > .tecnologias li {
  margin-inline: 5px;
  background-color: gray;
  margin-block: 5px;
  border-radius: 10px;
  padding-inline: 5px;
}
.p-info > .tecnologias > .t-links {
  padding-left: 10px;
}
.p-info > .tecnologias > .t-links span {
  font-size: 1.5rem;
}

.p-principal > .p-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-principal > .p-img img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: scale-down;
  padding: 10px;
}
.p-invertido .p-img {
  grid-area: p-info;
}

.p-invertido .p-info {
  grid-column: p-img;
}

/* ? PROYECTOS SECUNDARIOS ? */
.c-secundarios {
  border: 2px solid white;
  padding: 20px;
}

.s-proyecto {
  border: 2px solid black;
  background-color: aqua;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-block: 20px;
}
.s-icono {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.s-info {
  padding: 10px;
}

.s-info > .s-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.s-info > .s-header > div {
  padding-right: 10px;
  font-size: 1.5rem;
}

.s-info > .s-content {
  font-size: 1.2rem;
}

.s-lenguages > ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}

.s-lenguages > ul li {
  margin-top: 5px;
  padding-inline: 5px;
  background-color: gray;
  border: 1px solid white;
  margin-inline: 5px;
}

/* ? Ver mas proyectos ? */
.p-opciones {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  margin-top: 20px;
}
.p-opciones > button {
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: aliceblue;
}

/* * SECCION 5: CONTACTO * */
#seccion5 {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 20px;
}
#formContacto {
  background-color: orange;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#formContacto button {
  margin-top: 20px;
}

/* * ANIMACION DE LOS TITULOS * */
.titulo-seccion {
  padding: 20px;
}
/* .align-left {
  float: left;
  margin-right: 20px;
}
.titulo-seccion {
  opacity: 0;
  transition: all 0.5s;
}

.align-left.titulo-seccion {
  transform: translateX(-30%) scale(0.95);
}

.titulo-seccion.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
} */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* * MEDIA QUERY * */
@media (max-width: 720px) {
  :root {
    font-size: 14px;
  }

  /* Seccion 3 */
  .c-experiencia {
    width: 90%;
  }
  /* Seccion 4 */

  .p-principal {
    grid-template-columns: 2fr 1fr;
  }

  .p-principal {
    grid-template-columns: 1fr;
    grid-template-areas: "p-img" "p-info";
  }
  .p-principal .p-info {
    grid-area: p-info;
  }
  .p-principal .p-img {
    grid-area: p-img;
    padding-block: 20px;
  }

  .p-principal > .p-img img {
    padding: 0;
  }

  .proyectos {
    padding: 10px;
    width: 90%;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 12px;
  }
  /* SECCION 1 */

  section {
    width: 100%;
  }

  /* SECCION 2 */
  .c-about {
    grid-template-columns: 1fr;
  }

  .c-about > .foto > img {
    width: 150px;
  }

  /* SECCION 3 */
  .c-experiencia {
    width: 100%;
  }

  /* SECCION 4 */

  .p-principal {
    grid-template-columns: 1fr;
    grid-template-areas: "p-img" "p-info";
  }

  .proyectos {
    width: 100%;
    padding: 0;
  }
  .p-principales,
  .c-secundarios {
    padding: 0;
  }

  .p-principal {
    padding: 0;
  }

  .p-principal .p-info {
    grid-area: p-info;
  }
  .p-principal .p-img {
    grid-area: p-img;
  }

  .s-proyecto {
    grid-template-columns: 1fr;
  }
}
