/* * SECCION 5: CONTACTO * */
#seccion5 {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 20px;
}
#formContacto {
  width: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: orange;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 1.5rem;
  margin: 0 auto;
}

#formContacto button {
  margin-top: 20px;
}

#formContacto label {
  color: var(--bg-color);
}
#formContacto input {
  padding: 10px;
}
#formContacto textarea {
  padding: 20px;
}

/* * MEDIA QUERY * */
@media (max-width: 720px) {
  /* SECCION 5 */
  #formContacto {
    width: 90%;
  }
}

@media (max-width: 480px) {
  /* SECCION 5 */

  #formContacto {
    padding: 10px;
    width: 100%;
  }
}
