{% extends "body.html" %}
{% load static %}

{% block librerias_extra %}
{% comment %} CSS {% endcomment %}
<link rel="stylesheet" href="{% static 'app1/css/inicio.css' %}" />
<link rel="stylesheet" href="{% static 'app1/css/seccion2.css' %}" />
<link rel="stylesheet" href="{% static 'app1/css/seccion3.css' %}" />
<link rel="stylesheet" href="{% static 'app1/css/seccion4.css' %}" />
<link rel="stylesheet" href="{% static 'app1/css/seccion5.css' %}" />
{% comment %} JAVASCRIPT {% endcomment %}
<script src="{% static 'app1/js/inicio.js' %}" type="module"></script>
{% endblock librerias_extra %}



{% block content %}
{% comment %} * BIENVENIDO * {% endcomment %}
<section id="seccion1">
    <div class="c-bienvenida">
        <div class="b-info">
            <span class="saludo">Bienvenido, mi nombre es</span>
            <h2 class="nombre">Bryan Tarco.</h2>
            <h3 class="sub-titulo">Desarrollo Software para resolver problemas.</h3>
            <p class="introduccion">Soy ingeniero en Sistemas, centrado en el diseño y desarrollo aplicaciones de software, que puedan ayudar a encontrar soluciones a los problemas de las personas, además de potenciar su habilidades.</p>
        </div>
        <div class="b-contacto">
            <a href="https://github.com/bnphony" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/bryan-tarco01" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</section>


{% comment %} * ABOUT ME * {% endcomment %}
<section id="seccion2">
    <h2 class="align-left titulo-seccion">Acerca de mi</h2>

    <div class="c-about">
        <div class="info">
            <div class="biografia">
                <article>
                    <p>Hola, mi nombre es Bryan y me gusta ayudar a las personas y si es posible potenciar sus habilidades. Para lograr ese objetivo utilizo el diseño y desarrollo de software, y si esto no es suficiente, puedo guiarlas hacia sus intereses.</p>
                    <p>
                        Hasta el momento, tengo todo el conocimiento y experiencia adquiridos durante mi formación academica, experiencia como desarrollador full-stack de parte un sistema para un campeonato de futbol, diversos conocimientos en el area de hardware gracias a mi trabajo como técnico en informática.  Ademas de una variedad de proyectos propios.
                    </p>
                    <p>

                    </p>
                </article>
                <p>
                    Estas son algunas de las técnologias con la cuales he trabajo:
                </p>
            </div>
            <div class="habilidades">
                <ul class="lista-habilidades">
                    <li>Python</li>
                    <li>JavaScript</li>
                    <li>Kotlin</li>
                    <li>Java</li>
                    <li>PHP</li>
                    <li>Django</li>
                    <li>PostgreSQL</li>
                    <li>MySQL</li>
                    <li>Oracle</li>
                    <li>SQLite</li>
                    <li>Microsoft Exel, Word, PowerPoint</li>
                    <li>GIT</li>
                    <li>D3js</li>
                </ul>
            </div>
        </div>
        <div class="foto">
            <img src="{% static 'app1/img/foto_perfil.png' %}" alt="Foto de Perfil">
        </div>
    </div>
</section>

{% comment %} * EXPERIENCIA * {% endcomment %}

<section id="seccion3">
    <h2 class="align-left titulo-seccion">Experiencia</h2>
    <div class="c-experiencia">
        {% comment %} Lista de Cargos {% endcomment %}
        <div class="nav-experiencia">
            
        </div>
        <div class="descripcion-experiencia">
            
            
        </div>
    </div>
</section>


{% comment %} * PROYECTOS * {% endcomment %}
<section id="seccion4">
    <h2 class="align-left titulo-seccion">Proyectos</h2>
    
    <div class="proyectos">
        <div class="p-principales">
        
        </div>
        <div class="c-secundarios">
            <div class="secundario-header">
                <h3>Otros proyectos valiosos</h3>
            </div>
            <div class="p-secundarios">
        
            </div>
        </div>
        <div class="p-opciones">
            <button type="button" class="btn"><a href="{% url 'app1:proyectos_list' %}">Mas proyectos...</a></button>
        </div>
    </div>
</section>

{% comment %} * CONTACTO *  {% endcomment %}
<section id="seccion5">
    <h2 class="align-left titulo-seccion">Contacto</h2>
    <form action="" id="formContacto">
        <label for="idEmail">Email: </label>
        <input type="text" id="idEmail" placeholder="Ingrese un email">
        <label for="idMensaje">Mensaje: </label>
        <textarea rows="10" name="" id="idMensaje" placeholder="Ingrese alguna solicitud, sugerencia o duda..."></textarea>
        <button type="submit">Enviar</button>
    </form>
</section>


{% endblock content %}