{% extends "body.html" %}
{% load static %}

{% block librerias_extra %}
{% comment %} CSS {% endcomment %}
<link rel="stylesheet" href="{% static 'app1/css/inicio.css' %}" />
{% comment %} JAVASCRIPT {% endcomment %}
<script src="{% static 'app1/js/inicio.js' %}" type="module"></script>
{% endblock librerias_extra %}



{% block content %}
{% comment %} * BIENVENIDO * {% endcomment %}
<section id="seccion1">
    <h2>Bienvenido,</h2>
    <span class="nombre">My nombre is Bryan Tarco.</span>
    <p class="introduccion">Utilizo el desarrollo de software para resolver problemas.</p>
</section>


{% comment %} * ABOUT ME * {% endcomment %}
<section id="seccion2">
    <h2>Acerca de mi</h2>

    <div class="c-about">
        <div class="info">
            <div class="biografia">
                <p>
                    Profesional apasionado en el desarrollo y diseño de software, con un enfoque sólido en la resolución de problemas. Comprometido con la mejora continua y el
                    crecimiento en el ámbito laboral, personal e intelectual.
                </p>
            </div>
            <div class="habilidades">
                <ul class="lista-habilidades">
                    <li>Python</li>
                    <li>JavaScript</li>
                    <li>Kotlin</li>
                    <li>HTML5, CSS</li>
                    <li>Java</li>
                    <li>python</li>
                    <li>python</li>
                    <li>python</li>
                    <li>python</li>
                    <li>python</li>
                    <li>python</li>
                    <li>python</li>
                    <li>python</li>
                    <li>python</li>
                    <li>python</li>
                </ul>
            </div>
        </div>
        <div class="foto">
            <img src="{% static 'app1/img/foto_perfil.png' %}" alt="Foto de Perfil">
        </div>
    </div>
</section>

{% comment %} * EXPERIENCIA * {% endcomment %}

<section id="seccion3">
    <h2>Experiencia</h2>
    <div class="c-experiencia">
        {% comment %} Lista de Cargos {% endcomment %}
        <div class="nav-experiencia">
            
        </div>
        <div class="descripcion-experiencia">
            <div class="full-stack job" id="job1">
                <div class="desc-puesto">
                    <p>Full-Stack</p>
                    <p>Fecha Inicio - Fecha Fin</p>
                </div>
                <div class="desc-tareas">
                    <ul>
                        <li>Tarea1</li>
                        <li>Tarea2</li>
                        <li>Tarea3</li>
                    </ul>
                </div>
                <div class="desc-tecnologias">
                    <span>Lenguaje1</span>
                    <span>Lenguaje2</span>
                    <span>Lenguaje3</span>
                    <span>Lenguaje4</span>
                    <span>Lenguaje5</span>
                </div>
            </div>
            <div class="soporte job" id="job2">
                <div class="desc-puesto">
                    <p>Soporte</p>
                    <p>Fecha Inicio - Fecha Fin</p>
                </div>
                <div class="desc-tareas">
                    <ul>
                        <li>Tarea1</li>
                        <li>Tarea2</li>
                        <li>Tarea3</li>
                    </ul>
                </div>
                <div class="desc-tecnologias">
                    <span>Lenguaje1</span>
                    <span>Lenguaje2</span>
                    <span>Lenguaje3</span>
                    <span>Lenguaje4</span>
                    <span>Lenguaje5</span>
                </div>
            </div>
        </div>
    </div>
</section>


{% comment %} * PROYECTOS * {% endcomment %}
<section id="seccion4">
    <h2>Proyectos</h2>
    
    <div class="p-principales">
        
    </div>

    <div class="c-secundarios">
        <div class="secundario-header">
            <h3>Otros proyectos valiosos</h3>
        </div>
        <div class="p-secundarios">
          
        </div>
    </div>
</section>

{% comment %} * CONTACTO *  {% endcomment %}
<section id="seccion5">
    <h2>Contacto</h2>
    <form action="" id="formContacto">
        <label for="idEmail">Email: </label>
        <input type="text" id="idEmail" placeholder="Ingrese un email">
        <label for="idMensaje">Mensaje: </label>
        <textarea rows="10" name="" id="idMensaje" placeholder="Ingrese alguna solicitud, sugerencia o duda..."></textarea>
        <button type="submit">Enviar</button>
    </form>
</section>


{% endblock content %}