html {
  box-sizing: border-box;
}

*,
:before,
:after {
  box-sizing: inherit;
}

/* * HEADER * */

.container-header {
  padding-block: 10px;
}
nav {
  background-color: cadetblue;
  padding-left: 20px;
}

nav a:hover {
  text-decoration: none;
}

/* * BODY * */

body {
  background-color: #ff7f7f;
  font-family: arial;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* * FOOTER * */
footer {
  margin-top: auto;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

footer address {
  margin-bottom: 0;
}

/* * Container Principal: content * */
.content {
  width: 100%;
  margin: 0 auto;
}
