/* SECCIONES */
section {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

/* * SECCION 1: BIENVENIDO * */
#seccion1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.c-bienvenida {
  width: 70%;
  padding-left: 20px;
  margin-top: -50px;
}

.b-info .saludo {
  letter-spacing: 0.2rem;
}
.b-info .nombre {
  font-size: 3rem;
  margin-top: 5px;
  margin-bottom: 0;
}
.b-info .sub-titulo {
  margin-top: -5px;
  margin-bottom: 10px;
  font-size: 3rem;
}
.b-info .introduccion {
  text-align: justify;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.b-contacto {
  font-size: 2rem;
}
.b-contacto a {
  margin-right: 10px;
  color: var(--text-color);
}
.b-contacto a:hover {
  color: var(--primary-color);
}

/* * ANIMACION DE LOS TITULOS * */
.titulo-seccion {
  padding: 20px;
}
/* .align-left {
  float: left;
  margin-right: 20px;
}
.titulo-seccion {
  opacity: 0;
  transition: all 0.5s;
}

.align-left.titulo-seccion {
  transform: translateX(-30%) scale(0.95);
}

.titulo-seccion.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
} */
/* ------------------------------------------------------------------- */
/* ------------------------------------------------------------------- */
/* * MEDIA QUERY * */
@media (max-width: 720px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 12px;
  }

  section {
    width: 100%;
  }

  .c-bienvenida {
    width: 100%;
  }
}
