/* * SECCION 4: PROYECTOS * */
#seccion4 {
  display: grid;
  grid-template-rows: auto 1fr;
}

.proyectos {
  width: 80%;
  margin: 0 auto;
}

.p-principales {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
}

.p-principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "p-info p-img";
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 1);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.p-principal > .p-info {
  display: grid;
  grid-template-rows: auto 2fr 1fr;
}
/* .p-info > div {
    border: 1px solid black;
  } */

.p-info .header > h3 {
  font-size: 1.7rem;
  color: var(--accent-color);
}

.p-info > .descripcion {
  display: flex;
  align-items: center;
  padding: 10px;
}

.p-info > .descripcion > p {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 1.2rem;
}

.p-info > .tecnologias > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
}
.p-info > .tecnologias li {
  margin-inline: 5px;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  margin-block: 5px;
  border-radius: 10px;
  padding-inline: 5px;
  letter-spacing: 0.1rem;
}
.p-info > .tecnologias > .t-links {
  padding-left: 10px;
}
.p-info > .tecnologias > .t-links a {
  color: var(--secondary-color);
  font-size: 1.5rem;
  transition: font-size 0.2s;
}
.p-info > .tecnologias > .t-links a:hover {
  color: var(--accent-color);
}

.p-principal > .p-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-principal > .p-img img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: scale-down;
  padding: 10px;
}
.p-invertido .p-img {
  grid-area: p-info;
}

.p-invertido .p-info {
  grid-column: p-img;
}

/* ? PROYECTOS SECUNDARIOS ? */
.c-secundarios {
  padding: 20px;
}

.s-proyecto {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-block: 20px;
  color: var(--bg-color);
}
.s-icono {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.s-info {
  padding: 10px;
}

.s-info > .s-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.s-info > .s-header h4 {
  font-weight: bold;
}

.s-info > .s-header > div {
  padding-right: 10px;
  font-size: 1.5rem;
}
.s-info > .s-header > div a {
  color: var(--bg-color);
  transition: all 0.2s;
}
.s-info > .s-header > div a:hover {
  color: var(--secondary-color);
  font-size: 1.7rem;
}

.s-info > .s-content {
  font-size: 1.2rem;
}

.s-lenguages > ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}

.s-lenguages > ul li {
  margin-top: 5px;
  padding-inline: 5px;
  border: 1px solid var(--secondary-color);
  margin-inline: 5px;
  letter-spacing: 0.1rem;
}

/* ? Ver mas proyectos ? */
.p-opciones {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  margin-top: 10px;
}
.p-opciones > button {
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.p-opciones a {
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: none;
}

.p-opciones button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.p-opciones button:hover a {
  color: var(--bg-color);
}

/* * MEDIA QUERY * */
@media (max-width: 720px) {
  /* Seccion 4 */

  .p-principal {
    grid-template-columns: 1fr;
    grid-template-areas: "p-img" "p-info";
  }
  .p-principal .p-info {
    grid-area: p-info;
  }
  .p-principal .p-img {
    grid-area: p-img;
    padding-block: 20px;
  }

  .p-principal > .p-img img {
    padding: 0;
  }

  .proyectos {
    padding: 10px;
    width: 90%;
  }
}

@media (max-width: 480px) {
  /* SECCION 4 */

  .p-principal {
    grid-template-columns: 1fr;
    grid-template-areas: "p-img" "p-info";
  }

  .proyectos {
    width: 100%;
  }
  .p-principales,
  .c-secundarios {
    padding: 0;
  }

  .p-principal {
    padding: 10px;
  }

  .p-principal .p-info {
    grid-area: p-info;
  }
  .p-principal .p-img {
    grid-area: p-img;
  }

  .s-proyecto {
    grid-template-columns: 1fr;
  }
}
