{% load static %}

<nav class="main-header navbar-expand navbar-dark navbar-primary">
    <div class="container-header">
        <h1>Suma/Resta Mental</h1>
        <ul class="breadcrumb float-sm-left">
            <li class="breadcrumb-item">
                <a href="#seccion2">Acerca de mi</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#seccion3">Experiencia</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#seccion4">Proyectos</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#seccion5">Contacto</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Resumen</a>
            </li>
        </ul>
    </div>
</nav>