{% load static %}

<nav class="main-header navbar-primary">
    <div class="container-header d-flex pr-3">
        <ul class="float-sm-left ml-auto">
            <li>
                <a href="#seccion2">Acerca de mi</a>
            </li>
            <li>
                <a href="#seccion3">Experiencia</a>
            </li>
            <li>
                <a href="#seccion4">Proyectos</a>
            </li>
            <li>
                <a href="#seccion5">Contacto</a>
            </li>
            <li class="hoja-vida">
                <a href="{% static 'app1/img/hoja4.pdf' %}" target="_blank">Resumen</a>
            </li>
        </ul>
    </div>
</nav>